.content#buy-energy{

}
.content#buy-energy h1 {
    font-size: 150%;
    margin-top: 10px;
}
.content#buy-energy > div{
	transition:all 450ms ease-in-out;
	padding-left:0;
	overflow:hidden;
	padding-right:0;
	max-height:620px;
}

.content#buy-energy > div.hidden-class{
	max-height:0px;

}
.content#buy-energy  .filters{
    padding: 3% 5%;
    border: solid 1px;
    margin-bottom: 10px;
}
.content#buy-energy  .hidden-class .filters{
	border:0;
}
.content#buy-energy.hidden-class  .filters{
	border:0;
}
.content#buy-energy  .filters input{
	width: 90%;
    border: solid 1px;
	float:left;
}
.content#buy-energy  .filters .search{
     width: 8%;
    height: 22px;
    float: left;
    margin-left: 2%;

}

.content#buy-energy .packages-list{
	max-height: 360px;
	padding:0px;
	overflow-y:auto;
}

.content#buy-energy  .packs{
    margin: 10px 0;

}
.content#buy-energy  .pack{
    padding: 4px;
	position:relative;
    border: solid 1px #333;
    padding-bottom: 10px;
	transition: all 250ms ease-in-out;
	cursor:pointer;
	height:75px;
	margin: 10px 0px;
}
.content#buy-energy  .packs:hover{
	/*background:#d52b1e;
	color:white;*/
}
.content#buy-energy  .pack p{
	margin-bottom: 3px;
}
.content#buy-energy  .pack .info{
	text-align:left;
}

.content#buy-energy  .pack .info .title{
	text-decoration: underline;
    font-family: EDP Preon Medium;
    font-size: 130%;
    margin-bottom: 0;
}

.content#buy-energy  .pack .info .producer{

}

.content#buy-energy  .pack .info .ammount{
	font-size: 110%;
}
.content#buy-energy  .pack .info .ammount span{

}
.content#buy-energy  .pack .info .ammount span:last-child{
	float: right;
    margin-right: 20%;
}
.content#buy-energy  .pack svg{
    width: 30px;
    position: absolute;
    right: 5%;
    height: 30px;
    top: 24px;
	fill:#333;
}
.content#buy-energy #desc-buy-energy{

}
.content#buy-energy #desc-buy-energy .title{
    text-transform: uppercase;
    text-align: center;
    font-size: 200%;
    width: 80%;
    margin: auto;
    border: solid 1px;
    border-radius: 30px;
    margin-top: 10px;
}
.content#buy-energy #desc-buy-energy .package-description{

}
.content#buy-energy #desc-buy-energy .package-description .duration{
  margin-top: 10px;
  text-decoration: underline;
  font-size: 140%;
  font-family: Edp Preon Medium;
  margin-bottom: 5px;
}
.content#buy-energy #desc-buy-energy .package-description .description{
  margin-right: -10px;
}
.content#buy-energy #desc-buy-energy .package-description .description strong,
.content#buy-energy #desc-buy-energy .package-description .info strong{
  font-family: Edp Preon Medium;
}
.content#buy-energy #desc-buy-energy .package-description .info{
  text-align: left;
}
.content#buy-energy #desc-buy-energy .package-description .buy{
  text-align: center;
  border: solid 1px;
  width: 65%;
  margin: auto;
  margin-top: 20px;
  padding: 13px 16px;
  font-family: Edp Preon Medium;
  border-radius: 4px;
  font-size: 150%;
  background: #d52b1e;
  color: #ffffff;
}
@media (min-width460px){
}
 Small devices (landscape phones, 576px and up)
@media (min-width 576px) {
}

 Medium devices (tablets, 768px and up)
@media (min-width 768px) {
	.content#buy-energy h1 {
		font-size: 250%;
	}
}

 Large devices (desktops, 992px and up)
@media (min-width 992px) {

}

 Extra large devices (large desktops, 1200px and up)
@media (min-width 1200px) {

}
