/* Fonts */
@font-face {
    font-family: "EDP Preon Light";
    font-style: woff;
    font-weight: 400;
    src: url(../fonts/edp_preon_light.woff)
}
@font-face {
    font-family: "EDP Preon";
    font-style: woff;
    font-weight: 400;
    src: url(../fonts/edp_preon_regular-webfont.woff)
}
@font-face {
    font-family: "EDP Preon Medium";
    font-style: woff;
    font-weight: 400;
    src: url(../fonts/edp_preon_medium.woff)
}

/* Mobile Devices */
html{
	height:100%;
}
body, h1{
  font-family: "Edp Preon";
  color:#333;
}
a{
  text-decoration: none;
}
strong{
  font-family: "Edp Preon Medium";
}
.edpOn-logo{
  text-align: center;
  font-size: 250%;
  text-decoration: none !important;
  margin-top:10px;
}
.lettering-edp{
  font-family: "EDP Preon Medium",sans-serif;
  color: #d52b1e;
}
.lettering-online{
  font-family: "EDP Preon Medium",sans-serif;
  color: #333;
  letter-spacing: -.062em;
}
.btn {
    border: 0 transparent;
    border-radius: 3px;
    background-color: #ccc;
    height: 36px;
    line-height: 36px;
    padding: 0 1em;
    font-family: "EDP Preon Light",sans-serif;
    font-size: 95%;
    transition: background 200ms ease-in-out;
}
.btn.btn-primary {
    background: #d52b1e;
}
.btn.wide {
    display: block;
    width: 100%;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.btn-primary.dropdown-toggle.focus, .open>.btn-primary.dropdown-toggle:focus, .open>.btn-primary.dropdown-toggle:hover {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}
.btn.active, .btn.active:focus, .btn.active:hover, .btn:active, .btn:active:focus, .btn:active:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0 transparent!important;
    border: 0;
}
.btn.btn-primary.active, .btn.btn-primary:active, .btn.btn-primary:focus, .btn.btn-primary:hover {
    background: #96172e!important;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
