/* Fonts */
@font-face {
    font-family: "EDP Preon Light";
    font-style: woff;
    font-weight: 400;
    src: url(../fonts/edp_preon_light.woff)
}
@font-face {
    font-family: "EDP Preon";
    font-style: woff;
    font-weight: 400;
    src: url(../fonts/edp_preon_regular-webfont.woff)
}
@font-face {
    font-family: "EDP Preon Medium";
    font-style: woff;
    font-weight: 400;
    src: url(../fonts/edp_preon_medium.woff)
}

/* Mobile Devices */
html{
	height:100%;
}
body, h1{
  font-family: "Edp Preon";
  color:#333;
}
a{
  text-decoration: none;
}
strong{
  font-family: "Edp Preon Medium";
}
.template{
  display: none;
}
.edpOn-logo{
  text-align: center;
  font-size: 250%;
  text-decoration: none !important;
  margin-top:10px;
}
.lettering-edp{
  font-family: "EDP Preon Medium",sans-serif;
  color: #d52b1e;
}
.lettering-online{
  font-family: "EDP Preon Medium",sans-serif;
  color: #333;
  letter-spacing: -.062em;
}
.btn {
    border: 0 transparent;
    border-radius: 3px;
    background-color: #ccc;
    height: 36px;
    line-height: 36px;
    padding: 0 1em;
    font-family: "EDP Preon Light",sans-serif;
    font-size: 95%;
    transition: background 200ms ease-in-out;
}
.btn.btn-primary {
    background: #d52b1e;
}
.btn.wide {
    display: block;
    width: 100%;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.btn-primary.dropdown-toggle.focus, .open>.btn-primary.dropdown-toggle:focus, .open>.btn-primary.dropdown-toggle:hover {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}
.btn.active, .btn.active:focus, .btn.active:hover, .btn:active, .btn:active:focus, .btn:active:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0 transparent!important;
    border: 0;
}
.btn.btn-primary.active, .btn.btn-primary:active, .btn.btn-primary:focus, .btn.btn-primary:hover {
    background: #96172e!important;
}
.filters .input-name{
  padding-left: 5px;
}
.filters .tab-filters{
  text-transform: uppercase;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0px;
  transition: all 300ms ease-in-out;
}
.filters .tab-filters.search-options{

}
.filters .tab-filters .filter-items{
  max-height: 0px;
  overflow: hidden;
  transition: all 200ms ease-in-out;
}
.filters .tab-filters.search-options .filter-items{
  float: left;
  width: 100%;
  margin-left: 2px;
  max-height: 40px;
}
.filters .tab-filters > p{
  float: left;
  margin-top: 4px;
  font-size: 13px;
  width:100%;
  text-align: center;
  margin:0px;
  margin-top: 10px;
}
.filters .tab-filters > p small{
  font-size: 13px;
}
.filters .tab-filters .filter-items > div{
  text-transform: none;
  font-size: 15px;
  float: left;
  border: solid 1px;
  border-radius: 5px;
  margin-right: 3px;
  margin-bottom: 5px;
  transition: all 400ms ease-in-out;
  overflow: hidden;
  max-width: 0px;
  max-height: 33px;
  border-width:0px;
  padding: 5px 0px;
}
.filters .tab-filters .filter-items > div.selected{
  max-width: 100px;
  padding: 5px 5px;
  border-width:1px;
  opacity:1;
}
.filters .tab-filters.open > svg{
  transform: rotate(-90deg);

}

.filters .tab-filters .search-options{
  width: 100%;
  float: left;
  max-height: 0px;
  overflow:hidden;
  transition: all 300ms ease-in-out;
}
.filters .tab-filters.open .search-options{
  max-height: 1000px;

}
.filters .tab-filters .search-options .title{
  font-size: 150%;
  float: left;
  font-family: Edp Preon Medium;
  position: relative;
  text-transform: uppercase;
  border: solid 1px #333;
  transition: border-color 250ms ease-in-out;
  margin-bottom: 0px;
  margin-top: 1px;
  border-bottom: 0px;
}
.filters .tab-filters .search-options .search-option .title svg{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5%;
  top: 20%;
  transform: rotate(90deg);
  transition: transform 500ms ease-in-out;
}
.filters .tab-filters .search-options .search-option{

}
.filters .tab-filters .search-options .search-option.open .title svg{
  transform: rotate(-90deg);
}
.filters .tab-filters .search-options .search-option-area {
  max-height: 0px;
  transition: max-height 500ms ease-in-out, padding 500ms ease-in-out;
  border: solid 1px #333;
  border-top: 0;
  float: left;
  width: 100%;
  margin-bottom: 5px;
  overflow: hidden;
}
.filters .tab-filters .search-options .search-option-area .accept-remove-buttons{
  width: 100%;
  margin: auto;
  float: left;
}
.filters .tab-filters .search-options .search-option-area .accept-remove-buttons .accept,
.filters .tab-filters .search-options .search-option-area .accept-remove-buttons .delete{
  border: solid 1px;
  text-align: center;
  width: 50%;
  margin: auto;
  padding: 7px;
  margin-bottom: 10px;
}
.filters .tab-filters .search-options .search-option-area .accept-remove-buttons .accept svg,
.filters .tab-filters .search-options .search-option-area .accept-remove-buttons .delete svg{
  width: 14px;
  height: 14px;
  margin-left: 7px;
}
.filters .tab-filters > p svg{
  width: 12px;
  height: 12px;
  transform: rotate(90deg);
  transition: transform 500ms ease-in-out;
}

.filters .tab-filters .search-option.open .search-option-area{
  max-height: 200px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  overflow-x: hidden;
  overflow-y:hidden;
}
.filters .tab-filters .search-option .search-option-area .option-section{
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  width: 100%;
  float: left;
}
.filters .tab-filters .search-options .search-option-area .option-section > div:first-child{
  width: 100%;
  float: left;
  margin-bottom: 10px;
  margin-left: 2.5%;
}
.filters .tab-filters .search-options .search-option-area .option-section .ranges{
  width: 95%;
  margin: auto;
  float: left;
  margin-bottom: 10px;
  margin-left: 2.5%;
}
.filters .tab-filters .search-options .search-option-area .option-section > div:first-child input{
  width: 30px !important;
  border: none !important;
  border-bottom: solid 1px !important;
  padding-bottom: 0px;
  margin: 0px 5px;
  text-align: center;
}
.filters .tab-filters .search-options .search-option-area .option-section > div:first-child span{
  float: left;
  text-transform: none;
}

.filters .tab-filters .filter-items > div svg{
  width: 0px;
  height: 0px;
}
.filters .tab-filters .filter-items > div.selected svg{
  width: 10px;
  height: 10px;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
