.switch {
  position: relative;
  display: n;
  width: 60px;
  height: 34px;
}

.side{
	display : inline-block;
    vertical-align : middle;
}

.side-container{
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
}

.switch input {
  vertical-align : middle;
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f22121;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #f22121;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f22121;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);

}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.container{
  max-width: 500px;
}

.login-title{
  text-transform: uppercase;
  text-align: center;
  font-size: 250%;
}
.login-input-box {
    display: table;
    width: 100%;
    margin: 0 0 10px;
    background: #fff;
    border-radius: 3px;
    border: solid 1px #33333359;
}
.login-input-box .icon, .login-input-box .login-input {
    display: table-cell;
    vertical-align: middle;
}
.login-input-box .icon {
    width: 40px;
    text-align: center;
    padding: 5px 0;
    border-right: 1px solid rgba(0,0,0,.1);
    color: #989898;
}
.login-inputs{
  margin: auto;
  width:85%;
  transition: width 200ms ease-in-out;
}
.fa{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.login-input-box .login-input {
    background: 0 0;
    width: 99%;
    padding: 5px 12px;
    border: 1px solid transparent;
    outline: 0;
    outline-offset: 0;
}
.login-box{
  margin-top: 10px;
}
.formValidatorsBox.loginFormValidator{
  margin-bottom: 2em;
}
.formValidatorsBox .form-validator {
  margin-top: .5em;
  text-align: center
}
.formValidatorsBox .form-validator.erro .msgIcon, .formValidatorsBox .form-validator.erro_funcional .msgIcon, .formValidatorsBox .form-validator.erro_tecnico .msgIcon{
  background-position: -13px -363px;
}
.formValidatorsBox .form-validator .msgIcon {
    background-image: url(../images/spriteMensagens.svg);
    background-size: 100px 450px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    position: relative;
}
.formValidatorsBox .form-validator.erro .msgTxt, .formValidatorsBox .form-validator.erro_funcional .msgTxt, .formValidatorsBox .form-validator.erro_tecnico .msgTxt, .formValidatorsBox.erro .msgTxt, .formValidatorsBox.erro_funcional .msgTxt, .formValidatorsBox.erro_tecnico .msgTxt, .validationMessage .erro, .validationMessage .error{
    color: red;
}
.public-area-content .formValidatorsBox .msgTxt, .public-area-content .msgTxt, .public-area-content .terms-and-conditions-acceptance{
  color: #fff!important;
  text-shadow:4px 4px 14px rgba(0,0,0,.4),
              4px -4px 14px rgba(0,0,0,.4),
              -4px 4px 14px rgba(0,0,0,.4),
              -4px -4px 14px rgba(0,0,0,.4);
}
.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.dataEntry {
    padding-bottom: 10px;
}
.dataEntry.recover{
  text-align: center;
  margin-top: .8em;
  margin-bottom: 0;
}
.edpCheckBox label.msgTxt.inline {
    width: 100%;
    text-align: center;
    padding-left: 0px;
    transition: padding-left 250ms ease-int-out;
}
.login .dataEntry .msgTxt {
    color: #fff;
}
.public-area-content .dataEntry .msgTxt, .public-area-content .stroke-heading h4 {
    padding: 0;
}
.edpCheckBox label.msgTxt {
    font-weight: 300;
}
.login .edpCheckBox .checkBox-icon {
    display: inline-block;
    margin: 0;
    position: relative;
    top: 1px;
    left: -1px;
}
.edpCheckBox label.msgTxt span.checkBox-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -2px 3px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 3px;
    cursor: pointer;
}
.edpCheckBox label.msgTxt span.checkBox-icon.checked {
    background-image: url(../images/spriteTiny.svg);
    background-repeat: no-repeat;
    background-size: 40px 620px;
    background-position: -2px -440px;
}
.public-area-content .formValidatorsBox .msgTxt, .public-area-content .msgTxt, .public-area-content .terms-and-conditions-acceptance {
    color: #fff!important;
    text-shadow: 4px 4px 14px rgba(0,0,0,.4), 4px -4px 14px rgba(0,0,0,.4), -4px 4px 14px rgba(0,0,0,.4), -4px -4px 14px rgba(0,0,0,.4);
}
.public-area-content .formValidatorsBox .msgTxt a:focus, .public-area-content .formValidatorsBox .msgTxt a:hover, .public-area-content .msgTxt a:focus, .public-area-content .msgTxt a:hover, .public-area-content .terms-and-conditions-acceptance a:focus, .public-area-content .terms-and-conditions-acceptance a:hover {
    color: #fff;
    text-decoration: none;
}
a.recuperarPassword.active, .login-forms a.recuperarPassword:focus, .login-forms a.recuperarPassword:hover {
    text-decoration: none;
}
a.recuperarPassword {
    color: #333;
    text-decoration: underline;
    display: inline-block;
    font-weight: 300;
}


.social-network-login li{margin:0 0 10px}@media (min-width:420px){.social-network-login{display:table;width:100%}.social-network-login li{vertical-align:middle}}.social-network-login li a{display:block;background:#E6E6E6;border-radius:3px}.social-network-login li a>span{display:table;width:100%}.social-network-login li a>span span{display:table-cell;vertical-align:middle}.social-network-login li a>span span.login-txt{background:0 0;border:0;width:99%;padding:3px 5px;font-size:85%}.social-network-login li a>span.google-login span.login-logo{padding:7px 10px 0}.social-network-login li a>span.google-login span.login-txt{color:#333;line-height:30px}.social-network-login li a>span.facebook-login{color:#4267B2}.social-network-login li a>span.facebook-login span.login-logo{padding:5px 12px 2px;font-size:20px}.social-network-login li a>span.facebook-login span.login-txt{line-height:30px}.social-network-login li a:active,.social-network-login li a:focus,.social-network-login li a:hover{background-color:#ccc}.social-network-login li:nth-child(1) a{margin-right:2px}.social-network-login li:nth-child(2) a{margin-left:2px}.google-ou-facebook{padding:1em 3em .5em}.google-ou-facebook .redeBtn{display:block;height:60px;width:60px;text-align:center;padding:1em 0;border-radius:3px;color:#d52b1e;margin:0 auto}.google-ou-facebook .redeBtn.googleBtn{background:#fff;border:1px solid #4885ed}.google-ou-facebook .redeBtn.facebookBtn{background:#4267B2;border:1px solid #4267B2}.google-ou-facebook .redeBtn.facebookBtn i.fa{color:#fff}.google-ou-facebook .redeBtn:active,.google-ou-facebook .redeBtn:focus,.google-ou-facebook .redeBtn:hover{opacity:.7}.ab-table

.footer-ap{display:block;overflow:hidden}.footer-ap .login-inner-footer{display:block;text-align:center}.footer-ap .login-inner-footer .footer-list{padding-right:0}.footer-ap .login-inner-footer .footer-copyright{font-size:80%;padding:0}@media (min-width:1199px){.footer-ap .login-inner-footer .footer-apps{text-align:right}}.footer-ap .login-inner-footer .footer-apps .innerCell{display:inline-block;vertical-align:top}.footer-ap .login-inner-footer .footer-apps .innerCell.appStoreBtn{padding-top:10px}.footer-ap .login-inner-footer .footer-apps .innerCell.googlePlayBtn .logo{height:60px}.footer-ap .login-inner-footer .footerBlock{display:inline-block;width:100%}.footer-ap .login-inner-footer .footerBlock.nav{margin-left:0}@media (min-width:1200px){.footer-ap .login-inner-footer .footerBlock.nav{height:40px;line-height:40px}}.footer-ap .login-inner-footer .footerBlock.nav>li{display:inline-block}.footer-ap .login-inner-footer .footerBlock.nav>li:before{display:none}.footer-ap .login-inner-footer .footerBlock.nav>li a:visited,.footer-ap .login-inner-footer .footerBlock.nav>li>a{padding:0 8px;border-radius:3px;text-decoration:underline}.footer-ap .login-inner-footer .footerBlock.nav>li a:visited i.fa,.footer-ap .login-inner-footer .footerBlock.nav>li>a i.fa{position:relative;top:-1px;padding-left:2px}.B2C .footer-ap .login-inner-footer .footerBlock.nav>li a:visited,.B2C .footer-ap .login-inner-footer .footerBlock.nav>li>a{color:#333;text-shadow:4px 4px 14px rgba(255,255,255,.5),4px -4px 14px rgba(255,255,255,.5),-4px 4px 14px rgba(255,255,255,.5),-4px -4px 14px rgba(255,255,255,.5)}.B2C .footer-ap .login-inner-footer .footerBlock.nav>li a:visited i.fa,.B2C .footer-ap .login-inner-footer .footerBlock.nav>li>a i.fa{border-bottom:1px solid #333}.area-aberta-b2b .footer-ap .login-inner-footer .footerBlock.nav>li a:visited,.area-aberta-b2b .footer-ap .login-inner-footer .footerBlock.nav>li>a{color:#f0f0f0;text-shadow:4px 4px 14px rgba(0,0,0,.4),4px -4px 14px rgba(0,0,0,.4),-4px 4px 14px rgba(0,0,0,.4),-4px -4px 14px rgba(0,0,0,.4)}.area-aberta-b2b .footer-ap .login-inner-footer .footerBlock.nav>li a:visited i.fa,.area-aberta-b2b .footer-ap .login-inner-footer .footerBlock.nav>li>a i.fa{border-bottom:1px solid #f0f0f0}.B2C .footer-ap .login-inner-footer .footerBlock.nav>li a:visited:focus i.fa,.B2C .footer-ap .login-inner-footer .footerBlock.nav>li a:visited:hover i.fa,.B2C .footer-ap .login-inner-footer .footerBlock.nav>li>a:focus i.fa,.B2C .footer-ap .login-inner-footer .footerBlock.nav>li>a:hover i.fa,.area-aberta-b2b .footer-ap .login-inner-footer .footerBlock.nav>li a:visited:focus i.fa,.area-aberta-b2b .footer-ap .login-inner-footer .footerBlock.nav>li a:visited:hover i.fa,.area-aberta-b2b .footer-ap .login-inner-footer .footerBlock.nav>li>a:focus i.fa,.area-aberta-b2b .footer-ap .login-inner-footer .footerBlock.nav>li>a:hover i.fa{border-bottom:0}.footer-ap .login-inner-footer .footerBlock.nav>li a:visited:focus,.footer-ap .login-inner-footer .footerBlock.nav>li a:visited:hover,.footer-ap .login-inner-footer .footerBlock.nav>li>a:focus,.footer-ap .login-inner-footer .footerBlock.nav>li>a:hover{text-decoration:none;background:0 0}.B2C .footer-ap .login-inner-footer .footerBlock.nav>li a:visited:focus,.B2C .footer-ap .login-inner-footer .footerBlock.nav>li a:visited:hover,.B2C .footer-ap .login-inner-footer .footerBlock.nav>li>a:focus,.B2C .footer-ap .login-inner-footer .footerBlock.nav>li>a:hover{color:#333}.area-aberta-b2b .footer-ap .login-inner-footer .footerBlock.nav>li a:visited:focus,.area-aberta-b2b .footer-ap .login-inner-footer .footerBlock.nav>li a:visited:hover,.area-aberta-b2b .footer-ap .login-inner-footer .footerBlock.nav>li>a:focus,.area-aberta-b2b .footer-ap .login-inner-footer .footerBlock.nav>li>a:hover{color:#f0f0f0}.footer-ap .login-inner-footer .footerBlock.copyrightBox>.copyright{padding-left:1em;line-height:1.2em}@media (min-width:1024px){.footer-ap .login-inner-footer .footerBlock.copyrightBox>.copyright{padding-left:.5em}}@media (min-width:1200px){.footer-ap .login-inner-footer .footerBlock.copyrightBox>.copyright{height:40px;line-height:40px}}.B2C .footer-ap .login-inner-footer .footerBlock.copyrightBox>.copyright{color:#333;text-shadow:4px 4px 14px rgba(255,255,255,.5),4px -4px 14px rgba(255,255,255,.5),-4px 4px 14px rgba(255,255,255,.5),-4px -4px 14px rgba(255,255,255,.5)}.ab-table .cell.content-col .panel-group.panel-default>.panel-heading h4 a span,.area-aberta-b2b .footer-ap .login-inner-footer .footerBlock.copyrightBox>.copyright,.footer-row,.public-area-content h2,.public-area-content h3,.public-area-content h4,.public-area-content h5,.public-area-content h6{text-shadow:4px 4px 14px rgba(0,0,0,.4),4px -4px 14px rgba(0,0,0,.4),-4px 4px 14px rgba(0,0,0,.4),-4px -4px 14px rgba(0,0,0,.4)}.area-aberta-b2b .footer-ap .login-inner-footer .footerBlock.copyrightBox>.copyright{color:#fff}.footer-ap .login-inner-footer .footerBlock.downloadApp .innerCell{display:inline-block;vertical-align:top}.footer-ap .login-inner-footer .footerBlock.downloadApp .innerCell a{display:block}.footer-ap .login-inner-footer .footerBlock.downloadApp .innerCell a img{height:60px}.footer-ap .login-inner-footer .footerBlock.downloadApp .innerCell a svg{margin:10px 0 0}@media (max-width:1199px){.footer-ap .login-inner-footer .footerBlock{vertical-align:middle}.footer-ap .login-inner-footer .footerBlock:nth-child(1){margin-top:1em}.footer-ap .login-inner-footer .footerBlock:nth-child(2){margin:1em 0}}@media (min-width:1024px) and (max-width:1199px){.footer-ap .login-inner-footer .footerBlock:nth-child(1),.footer-ap .login-inner-footer .footerBlock:nth-child(2){width:auto;text-align:left}}@media (min-width:1200px){.footer-ap .login-inner-footer{display:flex;justify-content:space between;align-items:center}.footer-ap .login-inner-footer .footerBlock:nth-child(1),.footer-ap .login-inner-footer .footerBlock:nth-child(2),.footer-ap .login-inner-footer .footerBlock:nth-child(3){flex-grow:1}.footer-ap .login-inner-footer .footerBlock:nth-child(1){text-align:left}.footer-ap .login-inner-footer .footerBlock:nth-child(2){text-align:center}.footer-ap .login-inner-footer .footerBlock:nth-child(3){text-align:right}}

.footerBlock{display:inline-block;width:100%}.footer-ap .login-inner-footer .footerBlock.nav{margin-left:0}@media (min-width:1200px){.footer-ap .login-inner-footer .footerBlock.nav{height:40px;line-height:40px}}.footer-ap .login-inner-footer .footerBlock.nav>li{display:inline-block}.footer-ap .login-inner-footer .footerBlock.nav>li:before{display:none}.footer-ap .login-inner-footer .footerBlock.nav>li a:visited,.footer-ap .login-inner-footer .footerBlock.nav>li>a{padding:0 8px;border-radius:3px;text-decoration:underline}.footer-ap .login-inner-footer .footerBlock.nav>li a:visited i.fa,.footer-ap .login-inner-footer .footerBlock.nav>li>a i.fa{position:relative;top:-1px;padding-left:2px}.B2C .footer-ap .login-inner-footer .footerBlock.nav>li a:visited,.B2C .footer-ap .login-inner-footer .footerBlock.nav>li>a{color:#333;text-shadow:4px 4px 14px rgba(255,255,255,.5),4px -4px 14px rgba(255,255,255,.5),-4px 4px 14px rgba(255,255,255,.5),-4px -4px 14px rgba(255,255,255,.5)}.B2C .footer-ap .login-inner-footer .footerBlock.nav>li a:visited i.fa,.B2C .footer-ap .login-inner-footer .footerBlock.nav>li>a i.fa{border-bottom:1px solid #333}.area-aberta-b2b .footer-ap .login-inner-footer .footerBlock.nav>li a:visited,.area-aberta-b2b .footer-ap .login-inner-footer .footerBlock.nav>li>a{color:#f0f0f0;text-shadow:4px 4px 14px rgba(0,0,0,.4),4px -4px 14px rgba(0,0,0,.4),-4px 4px 14px rgba(0,0,0,.4),-4px -4px 14px rgba(0,0,0,.4)}.area-aberta-b2b .footer-ap .login-inner-footer .footerBlock.nav>li a:visited i.fa,.area-aberta-b2b .footer-ap .login-inner-footer .footerBlock.nav>li>a i.fa{border-bottom:1px solid #f0f0f0}.B2C .footer-ap .login-inner-footer .footerBlock.nav>li a:visited:focus i.fa,.B2C .footer-ap .login-inner-footer .footerBlock.nav>li a:visited:hover i.fa,.B2C .footer-ap .login-inner-footer .footerBlock.nav>li>a:focus i.fa,.B2C .footer-ap .login-inner-footer .footerBlock.nav>li>a:hover i.fa,.area-aberta-b2b .footer-ap .login-inner-footer .footerBlock.nav>li a:visited:focus i.fa,.area-aberta-b2b .footer-ap .login-inner-footer .footerBlock.nav>li a:visited:hover i.fa,.area-aberta-b2b .footer-ap .login-inner-footer .footerBlock.nav>li>a:focus i.fa,.area-aberta-b2b .footer-ap .login-inner-footer .footerBlock.nav>li>a:hover i.fa{border-bottom:0}.footer-ap .login-inner-footer .footerBlock.nav>li a:visited:focus,.footer-ap .login-inner-footer .footerBlock.nav>li a:visited:hover,.footer-ap .login-inner-footer .footerBlock.nav>li>a:focus,.footer-ap .login-inner-footer .footerBlock.nav>li>a:hover{text-decoration:none;background:0 0}.B2C .footer-ap .login-inner-footer .footerBlock.nav>li a:visited:focus,.B2C .footer-ap .login-inner-footer .footerBlock.nav>li a:visited:hover,.B2C .footer-ap .login-inner-footer .footerBlock.nav>li>a:focus,.B2C .footer-ap .login-inner-footer .footerBlock.nav>li>a:hover{color:#333}.area-aberta-b2b .footer-ap .login-inner-footer .footerBlock.nav>li a:visited:focus,.area-aberta-b2b .footer-ap .login-inner-footer .footerBlock.nav>li a:visited:hover,.area-aberta-b2b .footer-ap .login-inner-footer .footerBlock.nav>li>a:focus,.area-aberta-b2b .footer-ap .login-inner-footer .footerBlock.nav>li>a:hover{color:#f0f0f0}.footer-ap .login-inner-footer .footerBlock.copyrightBox>.copyright{padding-left:1em;line-height:1.2em}@media (min-width:1024px){.footer-ap .login-inner-footer .footerBlock.copyrightBox>.copyright{padding-left:.5em}}@media (min-width:1200px){.footer-ap .login-inner-footer .footerBlock.copyrightBox>.copyright{height:40px;line-height:40px}}.B2C .footer-ap .login-inner-footer .footerBlock.copyrightBox>.copyright{color:#333;text-shadow:4px 4px 14px rgba(255,255,255,.5),4px -4px 14px rgba(255,255,255,.5),-4px 4px 14px rgba(255,255,255,.5),-4px -4px 14px rgba(255,255,255,.5)}.ab-table .cell.content-col .panel-group.panel-default>.panel-heading h4 a span,.area-aberta-b2b .footer-ap .login-inner-footer .footerBlock.copyrightBox>.copyright,.footer-row,.public-area-content h2,.public-area-content h3,.public-area-content h4,.public-area-content h5,.public-area-content h6{text-shadow:4px 4px 14px rgba(0,0,0,.4),4px -4px 14px rgba(0,0,0,.4),-4px 4px 14px rgba(0,0,0,.4),-4px -4px 14px rgba(0,0,0,.4)}.area-aberta-b2b .footer-ap .login-inner-footer .footerBlock.copyrightBox>.copyright{color:#fff}.footer-ap .login-inner-footer .footerBlock.downloadApp .innerCell{display:inline-block;vertical-align:top}.footer-ap .login-inner-footer .footerBlock.downloadApp .innerCell a{display:block}.footer-ap .login-inner-footer .footerBlock.downloadApp .innerCell a img{height:60px}.footer-ap .login-inner-footer .footerBlock.downloadApp .innerCell a svg{margin:10px 0 0}@media (max-width:1199px){.footer-ap .login-inner-footer .footerBlock{vertical-align:middle}.footer-ap .login-inner-footer .footerBlock:nth-child(1){margin-top:1em}.footer-ap .login-inner-footer .footerBlock:nth-child(2){margin:1em 0}}@media (min-width:1024px) and (max-width:1199px){.footer-ap .login-inner-footer .footerBlock:nth-child(1),.footer-ap .login-inner-footer .footerBlock:nth-child(2){width:auto;text-align:left}}@media (min-width:1200px){.footer-ap .login-inner-footer{display:flex;justify-content:space between;align-items:center}.footer-ap .login-inner-footer .footerBlock:nth-child(1),.footer-ap .login-inner-footer .footerBlock:nth-child(2),.footer-ap .login-inner-footer .footerBlock:nth-child(3){flex-grow:1}.footer-ap .login-inner-footer .footerBlock:nth-child(1){text-align:left}.footer-ap .login-inner-footer .footerBlock:nth-child(2){text-align:center}.footer-ap .login-inner-footer .footerBlock:nth-child(3){text-align:right}}

.footer-ap .login-inner-footer .footer-list{
  padding-left: 0px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .login-inputs{
    width: 70%;
  }
  .edpCheckBox label.msgTxt.inline {
    padding-left: 20px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
