
.content#settings .title{
text-transform: uppercase;
    font-size: 120%;
    width: 95%;
    margin: auto;
    margin-top: 20px;
	margin-bottom: 10px;
}

.content#settings .cards-list .card{
  transition: max-height 500ms ease-in-out, padding 500ms ease-in-out ;
  border: solid 1px #333;
  border-top: 0;
}

.content#settings  .card .info{
	text-align:left;
}

.content#settings  .card .delete{
	text-align:right;
}

.content#settings  .card .edit{
	text-align:right;
}

.content#settings .cards-list{
    overflow-y: auto;
}
.content#settings .cards-list.reserved{
	max-height: 600px;
}
.content#settings .cards-list .cards{
    margin: 10px 0;
}
.content#settings .cards-list .cards .card{
	padding: 5px;
	position:relative;
    border: solid 1px #333;
	transition: all 250ms ease-in-out;
	cursor:pointer;
	height:75px;
}

.content#settings .cards-list .card:hover{
	/*background:#d52b1e;
	color:white;*/
}
.content#settings  .card p{
	margin-bottom: 3px;
}

@media (min-width460px){
}
 Small devices (landscape phones, 576px and up) 
@media (min-width 576px) {
}

 Medium devices (tablets, 768px and up) 
@media (min-width 768px) {
	.content#verify-energy h1 {
		font-size: 250%;
	}
}

 Large devices (desktops, 992px and up) 
@media (min-width 992px) {

}

 Extra large devices (large desktops, 1200px and up) 
@media (min-width 1200px) {

}
