<!doctype html>

<html lang="pt">
<head>
  <meta charset="utf-8">

  <title>EDP Broking System</title>
  <meta name="Login - Broking System" content="Broking System">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/essentials.css">
  <link rel="stylesheet" href="css/login.css">

</head>

<body>
  <div class="container">
    <div class="row">
      <a class="edpOn-logo col-xs-12" href="">
        <span class="lettering-edp">edp</span>
        <span class="lettering-online">online</span>
      </a>
      <span class="col-xs-12 login-title">Login</span>
      <div class="col-xs-12 login-box">
        <div class="login-inputs">
          <div class="login-input-box user" ng-class="">
            <span class="icon"><i class="fa fa-user" aria-hidden="true"></i></span>
            <input name="username" type="text" class="login-input ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" placeholder="Endereço de email" ng-model="" ng-change="" required="" ng-enter="">
          </div>
          <div class="login-input-box password" ng-class="">
            <span class="icon"><i class="fa fa-lock" aria-hidden="true"></i></span>
            <input type="password" name="password" class="login-input ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" placeholder="Password" ng-change="" required="" ng-enter="" style="">
          </div>
          <div class="formValidatorsBox">
            <p class="form-validator erro ">
              <span class="msgIcon smallInlineIcon"></span>
              <span class="msgTxt ng-binding">Meter mensagem de erro aqui</span>
            </p>
          </div>
          <div class="dataEntry edpCheckBox checkbox">
            <label class="msgTxt inline" for="remembermeB2C" ng-click="">
              <span class="checkBox-toogle1 checkBox-icon1 checkBox-icon" ng-class=""></span>
              <input class="sr-only ng-pristine ng-untouched ng-valid ng-empty ng-valid-pattern" type="checkbox" name="remembermeB2C" id="remembermeB2C">
              <span class="checkBox-toogle2 ckeckBoxLabel">Lembrar dados de acesso?</span>
            </label>
          </div>
          <a class="btn btn-primary wide ng-binding"> Entrar</a>
          <p class="dataEntry recover">
            <span class="msgTxt centered">
              <a class="recuperarPassword ng-binding" href="">Esqueceu-se da password?</a>
            </span>
            </p>
        </div>

      </div>
    </div>
  </div>

</body>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script src="js/login.js"></script>
</html>
